src/main/resources/schema/metamorph.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:tns="http://www.culturegraph.org/metamorph"
	targetNamespace="http://www.culturegraph.org/metamorph" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xi="http://www.w3.org/2001/XInclude">

	<import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="xml.xsd" />
	<import namespace="http://www.w3.org/2001/XInclude"
		schemaLocation="XInclude.xsd" />

	<!-- <include schemaLocation="" /> -->
	<element name="metamorph">
		<complexType>
			<sequence minOccurs="1" maxOccurs="1">
				<element ref="tns:meta" maxOccurs="1" minOccurs="0" />
				<element ref="tns:functions" maxOccurs="1" minOccurs="0" />

				<choice maxOccurs="unbounded" minOccurs="0">
					<element ref="tns:rules" maxOccurs="1" minOccurs="0" />
					<element ref="tns:maps" maxOccurs="1" minOccurs="0" />
					<element ref="xi:include" maxOccurs="1" minOccurs="0" />
				</choice>

			</sequence>
			<attribute name="entityMarker">
				<simpleType>
					<restriction base="string">
						<length value="1" />
					</restriction>
				</simpleType>
			</attribute>

			<attribute name="version" use="required" fixed="1">
				<simpleType>
					<restriction base="int">
						<minInclusive value="1" />
						<whiteSpace value="collapse" />
					</restriction>
				</simpleType>
			</attribute>
			<attribute ref="xml:base" />
		</complexType>
	</element>

	<element name="meta">
		<complexType>
			<sequence>
				<element ref="tns:name" maxOccurs="1" minOccurs="0" />
				<element ref="tns:annotation" maxOccurs="1" minOccurs="0" />
			</sequence>
		</complexType>
	</element>

	<element name="annotation" type="string" />
	<element name="name" type="string" />

	<element name="functions">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="tns:def" />
				<element ref="xi:include" />
			</choice>
		</complexType>
	</element>

	<element name="rules">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<group ref="tns:literal-rule" />
				<group ref="tns:entity-rule" />
				<element ref="xi:include" />
			</choice>
		</complexType>
	</element>

	<element name="maps">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="tns:map" />
				<element ref="xi:include" />
			</choice>
		</complexType>
	</element>




	<element name="def">
		<complexType>
			<attribute name="name" type="string" use="required" />
			<attribute name="class" use="required">
				<simpleType>
					<restriction base="string">
						<pattern value="([\p{L}_$][\p{L}\p{N}_$]*\.)*[\p{L}_$][\p{L}\p{N}_$]*">
						</pattern>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>

	<element name="group">
		<complexType>
			<sequence>
				<choice minOccurs="1" maxOccurs="unbounded">
					<group ref="tns:literal-rule" minOccurs="0" maxOccurs="unbounded" />

				</choice>
				<element ref="tns:postprocess" minOccurs="0" maxOccurs="1" />
			</sequence>
			<attribute name="name" type="string" use="optional" />
			<attribute name="value" type="string" use="optional" />
		</complexType>
	</element>

	<element name="combine">
		<complexType>
			<sequence>
				<choice minOccurs="1" maxOccurs="unbounded">
					<group ref="tns:literal-rule" minOccurs="0" maxOccurs="unbounded" />
				</choice>
				<element ref="tns:postprocess" minOccurs="0" maxOccurs="1" />
			</sequence>
			<attribute name="name" type="string" use="required" />
			<attribute name="value" type="string" use="required" />

			<attribute name="reset" type="boolean" use="optional"
				default="false" />
			<attribute name="sameEntity" type="boolean" use="optional"
				default="false" />
			<attribute name="flushWith" type="string" use="optional" />
		</complexType>
	</element>

	<element name="concat">
		<complexType>
			<sequence>
				<choice minOccurs="1" maxOccurs="unbounded">
					<group ref="tns:literal-rule" minOccurs="0" maxOccurs="unbounded" />
				</choice>
				<element ref="tns:postprocess" minOccurs="0" maxOccurs="1" />
			</sequence>
			<attribute name="name" type="string" use="required" />
			<attribute name="delimiter" type="string" use="required" />
			<attribute name="prefix" type="string" use="optional" />
			<attribute name="postfix" type="string" use="optional" />

			<attribute name="flushWith" type="string" use="optional"
				default="record" />
		</complexType>
	</element>

	<element name="choose">
		<complexType>
			<sequence>
				<choice minOccurs="1" maxOccurs="unbounded">
					<group ref="tns:literal-rule" minOccurs="0" maxOccurs="unbounded" />
				</choice>
				<element ref="tns:postprocess" minOccurs="0" maxOccurs="1" />
			</sequence>
			<attribute name="name" type="string" use="optional" />
			<attribute name="value" type="string" use="optional" />
			<attribute name="flushWith" type="string" use="optional"
				default="record" />
		</complexType>
	</element>

	<element name="entity">
		<complexType>
			<sequence>
				<group ref="tns:literal-rule" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
			<attribute name="name" type="string" use="required" />
			<attribute name="reset" type="boolean" use="optional"
				default="false" />
			<attribute name="sameEntity" type="boolean" use="optional"
				default="false" />
			<attribute name="flushWith" type="string" use="optional" />
		</complexType>
	</element>



	<element name="data">
		<complexType>
			<sequence>
				<group ref="tns:function" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
			<attribute name="source" type="string" use="required" />
			<attribute name="name" type="string" use="optional" />
			<attribute name="value" type="string" use="optional" />
		</complexType>
	</element>



	<element name="postprocess">
		<complexType>
			<sequence>
				<group ref="tns:function"></group>
			</sequence>
		</complexType>
	</element>


	<element name="map">
		<complexType>
			<sequence>
				<element ref="tns:annotation" minOccurs="0" maxOccurs="1" />
				<element ref="tns:entry" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
			<attribute name="name" type="string" use="required" />
			<attribute name="default" type="string" use="optional" />
			<attribute ref="xml:base" />
		</complexType>
	</element>

	<element name="entry">
		<complexType>
			<attribute name="name" type="string" use="required" />
			<attribute name="value" type="string" use="required" />
		</complexType>
	</element>

	<simpleType name="toIsbnAttribute">
		<restriction base="string">
			<enumeration value="isbn13" />
			<enumeration value="isbn10" />
			<enumeration value="clean" />
		</restriction>
	</simpleType>

	<simpleType name="asAttribute">
		<restriction base="string">
			<enumeration value="value" />
			<enumeration value="count" />
		</restriction>
	</simpleType>


	<group name="entity-rule">
		<choice>
			<element ref="tns:entity" />
		</choice>
	</group>

	<group name="literal-rule">
		<choice>
			<element ref="tns:group" />
			<element ref="tns:data" />
			<element ref="tns:choose" />
			<element ref="tns:combine" />
			<element ref="tns:concat" />
		</choice>
	</group>

	<group name="function">
		<choice>
			<element ref="tns:compose" />
			<element ref="tns:regexp" />
			<element ref="tns:replace" />
			<element ref="tns:substring" />
			<element ref="tns:lookup" />
			<element ref="tns:whitelist" />
			<element ref="tns:blacklist" />
			<element ref="tns:isbn" />
			<element ref="tns:equals" />
			<element ref="tns:not-equals" />
			<element ref="tns:case" />
			<element ref="tns:htmlanchor" />
			<element ref="tns:trim" />
			<element ref="tns:split" />
			<element ref="tns:normalize-utf8" />
			<element ref="tns:occurence" />
			<element ref="tns:constant" />
			<element ref="tns:count" />
			<element ref="tns:buffer" />
			<any namespace="##other" processContents="lax" />

		</choice>
	</group>

	<element name="occurence">
		<complexType>
			<attribute name="only" use="required">
				<simpleType>
					<restriction base="string">
						<whiteSpace value="collapse"></whiteSpace>
						<pattern value="(lessThen |moreThen )?\d+"></pattern>
					</restriction>
				</simpleType>
			</attribute>
			<!-- <attribute name="format" type="string" use="optional" /> -->
		</complexType>
	</element>

	<element name="regexp">
		<complexType>
			<attribute name="match" type="string" use="required" />
			<attribute name="format" type="string" use="optional" />
			<attribute name="exceptionOnFail" type="boolean" use="optional"
				default="false"></attribute>
		</complexType>
	</element>

	<element name="lookup">
		<complexType>
			<sequence>
				<element ref="tns:entry" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
			<attribute name="in" type="string" use="optional" />
			<attribute name="default" type="string" use="optional" />
		</complexType>
	</element>

	<element name="whitelist">
		<complexType>
			<sequence>
				<element ref="tns:entry" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
			<attribute name="list" type="string" use="optional" />
		</complexType>
	</element>

	<element name="blacklist">
		<complexType>
			<sequence>
				<element ref="tns:entry" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
			<attribute name="list" type="string" use="optional" />
		</complexType>
	</element>

	<element name="replace">
		<complexType>
			<attribute name="pattern" type="string" use="required" />
			<attribute name="with" type="string" use="required" />
		</complexType>
	</element>

	<element name="compose">
		<complexType>
			<attribute name="prefix" type="string" use="optional" />
			<attribute name="postfix" type="string" use="optional" />
		</complexType>
	</element>

	<element name="htmlanchor">
		<complexType>
			<attribute name="prefix" type="string" use="required" />
			<attribute name="postfix" type="string" use="optional" />
			<attribute name="title" type="string" use="optional" />
		</complexType>
	</element>

	<element name="split">
		<complexType>
			<attribute name="delimiter" type="string" use="required" />
		</complexType>
	</element>

	<element name="isbn">
		<complexType>
			<attribute name="to" type="tns:toIsbnAttribute" use="required" />
			<attribute name="verifyCheckDigit" type="boolean" use="optional"
				default="false"></attribute>
		</complexType>
	</element>

	<element name="trim">
		<complexType>
		</complexType>
	</element>

	<element name="count">
		<complexType>
		</complexType>
	</element>

	<element name="equals">
		<complexType>
			<attribute name="string" type="string" use="required" />
		</complexType>
	</element>

	<element name="not-equals">
		<complexType>
			<attribute name="string" type="string" use="required" />
		</complexType>
	</element>

	<element name="buffer">
		<complexType>
			<attribute name="flushWith" type="string" use="optional"
				default="record" />
		</complexType>
	</element>

	<element name="case">
		<complexType>
			<attribute name="to" use="required">
				<simpleType>
					<restriction base="string">
						<enumeration value="upper" />
						<enumeration value="lower" />
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="language" type="string" use="optional" />
		</complexType>
	</element>

	<element name="constant">
		<complexType>
			<attribute name="value" type="string" use="required" />
		</complexType>
	</element>

	<element name="normalize-utf8">
		<complexType />
	</element>

	<element name="substring">
		<complexType>
			<attribute name="start" default="0" use="optional">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0" />
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="end" use="optional" default="0">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0" />
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
</schema>